[project]
	description = Zipkin is a distributed tracing system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ivan Marcin (ivanmarcin)
[access "refs/for/refs/*"]
	read = group user/Ivan Marcin (ivanmarcin)
	push = group user/Ivan Marcin (ivanmarcin)
	label-Code-Review = -2..+2 group user/Ivan Marcin (ivanmarcin)
	label-Verified = -1..+1 group user/Ivan Marcin (ivanmarcin)
	rebase = group user/Ivan Marcin (ivanmarcin)
	removeReviewer = group user/Ivan Marcin (ivanmarcin)
	submit = group user/Ivan Marcin (ivanmarcin)
[access "refs/heads/*"]
	read = group user/Ivan Marcin (ivanmarcin)
	create = group user/Ivan Marcin (ivanmarcin)
	push = +force group user/Ivan Marcin (ivanmarcin)
	pushMerge = group user/Ivan Marcin (ivanmarcin)
[access "refs/tags/*"]
	push = +force group user/Ivan Marcin (ivanmarcin)
	pushTag = group user/Ivan Marcin (ivanmarcin)
	pushSignedTag = group user/Ivan Marcin (ivanmarcin)
